@model IEnumerable<WebApplication1.Models.HocSinh>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Index" asp-controller="HocSinhs">
    Tên học sinh:
    <input name="TenHS" type="text" value="@ViewBag.TenHS"/>
    Tên lớp học:
    <select asp-items="ViewBag.LopHocId" name="LopHocId">
        <option></option>
    </select>
    <input type="submit" value="Tìm Kiếm"/>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaSV)
                @if(ViewBag.sort=="MaSV"&& ViewBag.asc == "False")
                {
                    @Html.ActionLink("down","Index", new {sort = "MaSV", asc="True"})
                }
                else
                {
                    @Html.ActionLink("up","Index", new {sort = "MaSV", asc="False"})
                }
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoVaTen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LopHoc)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaSV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoVaTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LopHoc.TenLop)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
